/*--Parte 1--*/
/*--Parte 1--*/
/*--Parte 2--*/
*{
	font-family:"Lato", sans-serif;
}
.ejemplo .col-md-12,.loQuiero .col-md-12{
	border-bottom:1px solid LightGrey;
	margin-top:4%;
	margin-bottom:4%;
}
.separadorUno,.separadorDos{
	position:relative;
	display:inline-block;
	left:47.5%;
	bottom:65px;
}
.separadorUno{
	bottom:45px;
}
.ejemplo iframe{
	width:100%;
	height:320px;
}
.ejemplo p{
	font-size:18px;
}
.segundoP{
	margin-top:15px;
}
.ejemplo h1{
	font-size:2.8em;
	padding:0 20px 20px 20px;
	color:#68B4FF;
	margin-top:0px;
}
.ejemplo h1 img{
	width:60%;
}
#centrado{
	margin:0 auto;
	width:130px;
}
.bg-loQuiero{
	background:url(../image/sec-2.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding:0;
}
.bg-loQuiero div{
	background:rgba(49,49,49,0.7);
	height:470px;
}
.cont-bg{
	padding-bottom:2.5%;
}
.border-tb{
	border-top:1px solid LightGrey;
	height:470px;
}
.loQuiero span{
	background-color:#50BDEA;
	border-radius:100%;
	font-size:25px;
	padding:10px;
	color:white;
	vertical-align:top;
	margin-top:10px;
	display:inline-block;
}
.cont-bg h2{
	margin-bottom:20px;
}
.cont-bg,.cont-bg h2{
	padding-left:7%;
}
.cont-bg h4{
	color:#7FB4FF;
}
.margin,.cont-bg h2{
	width:85%;
	margin-left:5%;
	display:inline-block;
}
.loQuiero ul{
	padding-left: 15px;
}
.separadorDos img,.separadorUno img{
	width:80px;
	display:inline-block;
	position:absolute;
}
.loQuiero .especial {
	vertical-align:300%;
}

/*--Parte 2--*/
/*--Parte 3--*/
/*--Parte 3--*/